---
import { Code2 } from "lucide-react";
import type { Education } from "@/lib/types";
import Badge from "@/components/ui/badge.astro";
import { markdownToHtml } from "@/lib/markdown";

interface Props {
  position: Education;
}

const { position } = Astro.props;

const hasDetails = (position.description && position.description.trim() !== "") || (Array.isArray(position.skills) && position.skills.length > 0);
---

<div>
  <div class="block w-full text-left">
    <span
      class="flex items-center gap-2 pl-6 font-mono text-sm text-foreground"
    >
      {position.year}
    </span>
  </div>

  <div class="description-container my-4">
    <div>
      <div
        class=""
        set:html={markdownToHtml(
          position.description,
          "ml-6 text-sm leading-7"
        )}
      />
      {
        Array.isArray(position.skills) && position.skills.length > 0 && (
          <div class="mt-2 ml-6 flex max-w-full flex-wrap items-center justify-start gap-1.5 py-2">
            {position.skills.map(skill => {
              return <Badge>{skill}</Badge>;
            })}
          </div>
        )
      }
    </div>
  </div>
</div>
